@import 'components/variables.less';
@import 'components/preboot.less';
@import 'components/helpers.less';
@import 'components/keyframes.less';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

*::-webkit-input-placeholder {
	color: @searchInputColor;
	opacity: 1;
}

*:-moz-placeholder {
	color: @searchInputColor;
	opacity: 1;
}

*::-moz-placeholder {
	color: @searchInputColor;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: @searchInputColor;
	opacity: 1;
}

input, button {
	border: 0;
	outline: 0;
    -webkit-appearance: none;
}

html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background: white;
	color: @textColor;
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

a, a:visited, a:hover {
	color: @textColor;
	text-decoration: none;
}

/* Header */
#searchbar {
	padding: 30px 0px;
	background-color: @base;
	border-bottom: @buttonBorder;

	.search-input-wrapper {
		position: relative;
	}

	#main-logo {
		-webkit-transition: all 300ms ease-out;
		transition: all 300ms ease-out;
	}
}

input[type="text"] {
	width: 100%;
	display: block;
	font-size: 25px;
	padding: 15px 40px;
	border: 0;
	max-width: 100%;
	outline: 0;
	color: @searchInputColor;
	border: @buttonBorder;
	background: rgba(216,216,216,0.30);
	.border-left-radius(5px);
}

.container {
	max-width: 1214px;
	padding: 0px 17px;
	.center-block();
}

body {
	.logo-wrapper {
		.make-column(4);
	}

	.search-input-wrapper {
		.make-column(8);
	}

	#main-logo {
		max-width: 100%;
		margin-top: -5px;
		@media only screen and (min-width: 1020px) {
			width: 90%;
			max-width: 580px;
		}
		@media only screen and (max-width: 767px) {
			max-width: 50%;
			.center-block();
		}
	}

	.search-input-wrapper {
		@media only screen and (max-width: 767px) {
			margin-top: 30px;
		}
	}

	#submit-search {
		min-width: 180px;
		width: 20%;
		float: right;
		padding: 15px 40px;

		@media only screen and (max-width: 767px) {
			min-width: 80px;
			font-size: 14px;
			padding: 15px 18px;
		}
	}

	#search-area {
		width: 80%;
		float: left;

		@media only screen and (max-width: 767px) {
			font-size: 16px;
			padding: 14px 20px;
		}
	}
}

body.fixed {
	.logo-wrapper {
		.make-column(12);
	}

	.search-input-wrapper {
		.make-column(12);
	}
	
	#main-logo {
		margin-top: 100px;
		margin-bottom: 100px;
		@media only screen and (max-width: 680px) {
			max-width: 300px;
		}
		.center-block();
	}

	#searchbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

}

.row {
	.make-row();
}

#submit-search {
	background-color: @primaryColor;
	font-size: 25px;
	display: block;
	position: absolute;
	right: 17px;
	top: 0;
	cursor: pointer;
	font-weight: bold;
	border: @buttonBorder;
	color: white;
	.border-right-radius(5px);
}

.btn {
	display: block;
	border: 0;
	cursor: pointer;
	outline: 0;
}


/* Main Logo*/
#main-logo {
	max-width: 100%;
	display: block;
	cursor: pointer;
}

#search-result {
    animation-duration: 550ms;
    animation-fill-mode: both;
	padding: 15px 0px;
	overflow: hidden;

	&.hide-list {
		animation-name: zoomOut;
	}

	&.show-list {
		animation-name: zoomIn;
	}

	.search-result-list {
		.make-column(12);
	}

	.search-result-item {
		.make-column(3);

		* {
			cursor: pointer;
		}

		padding-top: 15px;
		padding-bottom: 15px;

		@media only screen and (max-width: 767px) {
			clear: both;
		}
	}

	.search-result-row {
		.make-row();
	}

	.search-result-image {

		@media only screen and (max-width: 767px) {
			width: 50%;
			float: left;
		}

		img {
			max-width: 100%;
			display: block;
			max-height: 195px;
			margin: 0 auto;
		}
	}

	.search-result-description {

		height: 195px;
		max-height: 195px;
		overflow: hidden;

		@media only screen and (max-width: 767px) {
			width: 50%;
			float: left;
		}

		.search-result-title, .search-result-text {
			padding: 0;
			display: block;
			margin: 10px 0px;
		}

		.search-result-title {
			color: @primaryColor;
			font-weight: bold;
			line-height: 31px;
			font-size: 26px;

			.text-truncate();

			@media only screen and (max-width: 767px) {
				line-height: 19px;
				margin: 0px 0px 10px 10px;
				font-size: 16px;
			}
		}

		.search-result-text {
			line-height: 36px;
			font-size: 26px;
			text-align: justify;

			@media only screen and (max-width: 767px) {
				line-height: 19px;
				font-size: 14px;
				margin: 0px 0px 10px 10px;
			}
		}
	}
}


#video-detail {
	animation-duration: 550ms;
	animation-fill-mode: both;
	overflow: hidden;

	.video-details {
		.make-column(12);
	
		line-height: 41px;
	}

	&.hide-detail {
		animation-name: zoomOut;
	}

	&.show-detail {
		animation-name: zoomIn;
	}

	.video-title {
		font-size: 34px;
		margin: 20px 0px;
		color: @primaryColor;
	}

	.count-views {
		font-size: 34px;
		margin: 10px 0px;
	}

	.video-description {
		font-size: 26px;
		margin: 0;
		padding-bottom: 50px;
	}

	@media only screen and (max-width: 767px) {

		.video-title {
			font-size: 20px;
			margin: 15px 0px;
			line-height: 17px;
		}
		.count-views {
			font-size: 14px;
			font-weight: bold;
			margin: 5px 0px;
			line-height: 17px;
		}
		.video-description {
			font-size: 14px;
			line-height: 17px;
		}
	}
}

.back-btn {
	height: 30px;
	color: white;
	cursor: pointer;
	padding: 0px 0px 0px 50px;
	line-height: 30px;
	font-size: 24px;
	position: absolute;
	left: -140px;
	top: 30px;
	background: transparent url("../img/geral/voltar.png") left center no-repeat;
}

#searchbar .back-btn {
	font-size: 14px;
	color: gray;
	padding: 0px 0px 0px 25px;
	left: 20px;
	background: transparent url("../img/geral/voltar-gray.png") left center no-repeat;
	display: none;
}

body.detail #searchbar  {
	@media only screen and (max-width: 680px) {
		.search-input-wrapper {
			display: none;
		}
		.back-btn {
			display: block;
		}
	}
}

#video-display {
	background: black;
}

#video-area {
	min-height: 590px;

	@media only screen and (max-width: 767px) {
		min-height: 360px;
	}

	background: @base;
	position: relative;
}

#embed {
	height: 590px;

	@media only screen and (max-width: 767px) {
		height: 360px;
	}

	span {
		display: block;
		height: 590px;

		@media only screen and (max-width: 767px) {
			height: 360px;
		}
	}
}

.pagination-wrapper {
	.make-column(12);

	text-align: center;
	padding-bottom: 50px;

	.pagination-btn {
		background-color: @primaryColor;
	    font-size: 20px;
	    padding: 10px;
	    display: inline-block;
	    cursor: pointer;
	    font-weight: bold;
	    border: 1px solid @primaryColor;
	    color: white;
	    margin: 0px 15px;
	}
}

.hide {
	display: none;
}

.show {
	display: block;
}