@keyframes zoomIn {
  from {
    opacity: 0;
    height: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  to {
    height: auto;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
    height: auto;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    height: 0;
    opacity: 0;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::-webkit-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}
*:-moz-placeholder {
  color: #9B9B9B;
  opacity: 1;
}
*::-moz-placeholder {
  color: #9B9B9B;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #9B9B9B;
  opacity: 1;
}
input,
button {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: white;
  color: #6D6D6D;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
a,
a:visited,
a:hover {
  color: #6D6D6D;
  text-decoration: none;
}
/* Header */
#searchbar {
  padding: 30px 0px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #979797;
}
#searchbar .search-input-wrapper {
  position: relative;
}
#searchbar #main-logo {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
input[type="text"] {
  width: 100%;
  display: block;
  font-size: 25px;
  padding: 15px 40px;
  border: 0;
  max-width: 100%;
  outline: 0;
  color: #9B9B9B;
  border: 1px solid #979797;
  background: rgba(216, 216, 216, 0.3);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.container {
  max-width: 1214px;
  padding: 0px 17px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .logo-wrapper {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  body .logo-wrapper {
    float: left;
    width: 33.33333333%;
  }
}
body .search-input-wrapper {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  body .search-input-wrapper {
    float: left;
    width: 66.66666667%;
  }
}
body #main-logo {
  max-width: 100%;
  margin-top: -5px;
}
@media only screen and (min-width: 1020px) {
  body #main-logo {
    width: 90%;
    max-width: 580px;
  }
}
@media only screen and (max-width: 767px) {
  body #main-logo {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 767px) {
  body .search-input-wrapper {
    margin-top: 30px;
  }
}
body #submit-search {
  min-width: 180px;
  width: 20%;
  float: right;
  padding: 15px 40px;
}
@media only screen and (max-width: 767px) {
  body #submit-search {
    min-width: 80px;
    font-size: 14px;
    padding: 15px 18px;
  }
}
body #search-area {
  width: 80%;
  float: left;
}
@media only screen and (max-width: 767px) {
  body #search-area {
    font-size: 16px;
    padding: 14px 20px;
  }
}
body.fixed .logo-wrapper {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  body.fixed .logo-wrapper {
    float: left;
    width: 100%;
  }
}
body.fixed .search-input-wrapper {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  body.fixed .search-input-wrapper {
    float: left;
    width: 100%;
  }
}
body.fixed #main-logo {
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 680px) {
  body.fixed #main-logo {
    max-width: 300px;
  }
}
body.fixed #searchbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.row {
  margin-left: -17px;
  margin-right: -17px;
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  line-height: 0;
}
.row:after {
  clear: both;
}
#submit-search {
  background-color: #217BE0;
  font-size: 25px;
  display: block;
  position: absolute;
  right: 17px;
  top: 0;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #979797;
  color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.btn {
  display: block;
  border: 0;
  cursor: pointer;
  outline: 0;
}
/* Main Logo*/
#main-logo {
  max-width: 100%;
  display: block;
  cursor: pointer;
}
#search-result {
  animation-duration: 550ms;
  animation-fill-mode: both;
  padding: 15px 0px;
  overflow: hidden;
}
#search-result.hide-list {
  animation-name: zoomOut;
}
#search-result.show-list {
  animation-name: zoomIn;
}
#search-result .search-result-list {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  #search-result .search-result-list {
    float: left;
    width: 100%;
  }
}
#search-result .search-result-item {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  #search-result .search-result-item {
    float: left;
    width: 25%;
  }
}
#search-result .search-result-item * {
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  #search-result .search-result-item {
    clear: both;
  }
}
#search-result .search-result-row {
  margin-left: -17px;
  margin-right: -17px;
  *zoom: 1;
}
#search-result .search-result-row:before,
#search-result .search-result-row:after {
  content: " ";
  display: table;
  line-height: 0;
}
#search-result .search-result-row:after {
  clear: both;
}
@media only screen and (max-width: 767px) {
  #search-result .search-result-image {
    width: 50%;
    float: left;
  }
}
#search-result .search-result-image img {
  max-width: 100%;
  display: block;
  max-height: 195px;
  margin: 0 auto;
}
#search-result .search-result-description {
  height: 195px;
  max-height: 195px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  #search-result .search-result-description {
    width: 50%;
    float: left;
  }
}
#search-result .search-result-description .search-result-title,
#search-result .search-result-description .search-result-text {
  padding: 0;
  display: block;
  margin: 10px 0px;
}
#search-result .search-result-description .search-result-title {
  color: #217BE0;
  font-weight: bold;
  line-height: 31px;
  font-size: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media only screen and (max-width: 767px) {
  #search-result .search-result-description .search-result-title {
    line-height: 19px;
    margin: 0px 0px 10px 10px;
    font-size: 16px;
  }
}
#search-result .search-result-description .search-result-text {
  line-height: 36px;
  font-size: 26px;
  text-align: justify;
}
@media only screen and (max-width: 767px) {
  #search-result .search-result-description .search-result-text {
    line-height: 19px;
    font-size: 14px;
    margin: 0px 0px 10px 10px;
  }
}
#video-detail {
  animation-duration: 550ms;
  animation-fill-mode: both;
  overflow: hidden;
}
#video-detail .video-details {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 41px;
}
@media (min-width: 768px) {
  #video-detail .video-details {
    float: left;
    width: 100%;
  }
}
#video-detail.hide-detail {
  animation-name: zoomOut;
}
#video-detail.show-detail {
  animation-name: zoomIn;
}
#video-detail .video-title {
  font-size: 34px;
  margin: 20px 0px;
  color: #217BE0;
}
#video-detail .count-views {
  font-size: 34px;
  margin: 10px 0px;
}
#video-detail .video-description {
  font-size: 26px;
  margin: 0;
  padding-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  #video-detail .video-title {
    font-size: 20px;
    margin: 15px 0px;
    line-height: 17px;
  }
  #video-detail .count-views {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0px;
    line-height: 17px;
  }
  #video-detail .video-description {
    font-size: 14px;
    line-height: 17px;
  }
}
.back-btn {
  height: 30px;
  color: white;
  cursor: pointer;
  padding: 0px 0px 0px 50px;
  line-height: 30px;
  font-size: 24px;
  position: absolute;
  left: -140px;
  top: 30px;
  background: transparent url("../img/geral/voltar.png") left center no-repeat;
}
#searchbar .back-btn {
  font-size: 14px;
  color: gray;
  padding: 0px 0px 0px 25px;
  left: 20px;
  background: transparent url("../img/geral/voltar-gray.png") left center no-repeat;
  display: none;
}
@media only screen and (max-width: 680px) {
  body.detail #searchbar .search-input-wrapper {
    display: none;
  }
  body.detail #searchbar .back-btn {
    display: block;
  }
}
#video-display {
  background: black;
}
#video-area {
  min-height: 590px;
  background: #f3f3f3;
  position: relative;
}
@media only screen and (max-width: 767px) {
  #video-area {
    min-height: 360px;
  }
}
#embed {
  height: 590px;
}
@media only screen and (max-width: 767px) {
  #embed {
    height: 360px;
  }
}
#embed span {
  display: block;
  height: 590px;
}
@media only screen and (max-width: 767px) {
  #embed span {
    height: 360px;
  }
}
.pagination-wrapper {
  min-height: 1px;
  padding-left: 17px;
  padding-right: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .pagination-wrapper {
    float: left;
    width: 100%;
  }
}
.pagination-wrapper .pagination-btn {
  background-color: #217BE0;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #217BE0;
  color: white;
  margin: 0px 15px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
